.container {
    padding: 20px;
    background-color: var(--bgSoft);
    height: 100vh;
    border-radius: 0px 20px 20px 0px;
    flex: 1;
    position: sticky;
    top: 0;
}
.category {
    color: var(--textSoft);
}